/* ===== OSATT Main CSS file =====*/ 
body {
  font-family: Open Sans, Helvetica, Arial, Sans-serif;
  font-size: 100%;
}

header {
  background: #c6c6c5;
  color: #fff;
}

footer {
  background: #c6c6c5;
  color: #fff;
}
